{% extends 'layout.html' %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Login-Form-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Registration-Form-with-Photo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
{% endblock %}
{% block inline_style %}
<style media="screen">
  body
  {
    height:1029px;
  }
</style>
{% endblock %}
{% block body %}
    <div class="login-clean" style="height:1086px;padding:14px;">
        <form method="post" style="height:1042px;padding:0px 19px 19px 19px;width:368px;">
            <div class="illustration" style="height:126px;width:231px;padding:-7px;margin:0px 0px 0px 20px;"><i class="icon ion-ios-navigate" style="font-size:90px;margin:0px;padding:0px;"></i></div>
            <div class="form-group"><label class="control-label">Name</label><input class="form-control" type="text" style="height:35px;"></div>
            <div class="form-group"><label class="control-label">Salary/hour</label><input class="form-control" type="text" style="height:35px;"></div>
            <div class="form-group"><label class="control-label">Joining Date</label><input class="form-control" type="text" style="height:35px;"></div>
            <div class="form-group"><label class="control-label">Job Title</label><input class="form-control" type="text" style="height:35px;"></div>
            <div class="form-group"><label class="control-label">Hours of overtime</label><input class="form-control" type="text" style="height:35px;"></div>
            <div class="form-group"><label class="control-label">Pay in overtime</label><input class="form-control" type="text" style="height:35px;"></div>
            <div class="form-group"><label class="control-label">Max Casual leaves/month</label><input class="form-control" type="text" style="height:35px;"></div>
            <div class="form-group"><label class="control-label">Casual leaves taken</label><input class="form-control" type="text" style="height:35px;"></div>
            <div class="form-group"><label class="control-label">Max Sick leaves/month</label><input class="form-control" type="text" style="height:35px;"></div>
            <div class="form-group"><label class="control-label">Sick leaves taken</label><input class="form-control" type="text" style="height:35px;"></div>
            <div class="form-group"><label class="control-label">Bonus</label><input class="form-control" type="text" style="height:35px;"></div>
            <div style="height:44px;">
                <div class="btn-group" role="group" style="height:44px;margin:10px;"><button class="btn btn-default" type="button" style="height:44px;margin:10px;">&nbsp;Back</button><button class="btn btn-default" type="button" style="height:44px;margin:10px;">Update</button><button class="btn btn-default" type="button"
                        style="height:44px;margin:10px;">Delete</button></div>
            </div>
        </form>
    </div>
{% endblock %}
