{% extends 'layout.html' %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <div class="jumbotron text-center" style="background-color:#274C44; color: white;">
        <h1>Time Cards Management System</h1>
        <br>
        <br>
        <h5 style="font-size: 20px; line-height:1.5; font-style:italic;">
            Timecards management system helps a company's manager or HR Department to calculate the salary of the employees in a easy manner. This software needs the employees to check-in when they enter the company and checks-out when they leave from work and allows the employees to request for either a sick leave or a casual leave. And the HR Department can calculate the salary of employees easily.
        </h5>
    </div>
{% endblock %}
