{% extends 'layout.html' %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Login-Form-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Registration-Form-with-Photo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
{% endblock %}
{% block inline_style %}
    <style media="screen">
        body
        {
            height:1029px;
        }
        h1
        {
            width: 40%;
            margin: auto;
        }
        label
        {
            font-weight: bold;
        }
        .hello{
            width: 100%;
            margin: auto;
        }
        .hello1{
            width: 80%;
            margin: auto;
        }
    </style>
{% endblock %}
{% block body %}
    <br>
    <br>
    <br>
    <div class="jumbotron text-center hello" style="background-color:#274C44;color:white;height:400px;padding:14px;" >
        <br>
        <h1 style="color:white;">Update Password</h1>
        <br>
        <div class="hello1">
            <form action="" method="post" >
                <div class="form-group">
                    <label class="control-label">Current Password</label>
                    <input class="form-control" type="password" name="currentPassword" style="height:35px;">
                </div>
                <div class="form-group">
                    <label class="control-label">New Password</label>
                    <input class="form-control" type="password" name="newPassword" style="height:35px;">
                </div>

                <div style="height:44px;">
                    <div class="btn-group" role="group" style="height:44px;margin:10px;">
                    <a href="{{url_for('updatePassword')}}"><button class="btn btn-default" type="submit"  style="height:44px;margin:10px;">Update Password</button></a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
